#brand-name {
    background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

.user-nav-fade-in {
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#user-navbar {
    height: 60px;
    background-color: theme('colors.raisedBackground') !important;
}

#user-navbar > div:first-child {
    height: 40px !important;
}