@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --raised-background: #fff;
    --background: #fff;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --btn-background-action: 142 72% 29%;
    --btn-background-action-hover: 142 72% 32%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --raised-background: #1f2937;
      --background: #111826;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --btn-background-action: 142 72% 29%;
      --btn-background-action-hover: 142 72% 32%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[aria-label='custom-datepicker'] {
  background-color: inherit !important;
  border-color: #6B7280 !important;
}

.animated-link {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;
  letter-spacing: 0.3px;
  padding-bottom: 4px;
  color: white;
}

.animated-link {
  color: hsl(var(--foreground));
}

.animated-link:hover {
  background-size: 0 3px, 100% 3px;
  cursor: pointer;
}

.plain-card {
  background-color: transparent !important;
  box-shadow: none !important;
  border-style: none !important;
}

.page-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}